{:paths ["./src"]
 :mvn/repos {"cloudsmith" {:url "https://dl.cloudsmith.io/public/libp2p/jvm-libp2p/maven/"}
             "central" {:url "https://jcenter.bintray.com/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}

        tech.pegasys/noise-java {:mvn/version "1.0.0"}
        io.libp2p/jvm-libp2p-minimal {:mvn/version "0.8.9-RELEASE"
                                      :exclusions [tech.pegasys/noise-java]}}}